IMAGE=openconnect-proxy:saml-test
USERNAME=mock.user@example.com
PASSWORD=
HOST=host.docker.internal:9443
FINGERPRINT=pin-sha256:mock
AUTHGROUP=""
PROTOCOL=gp
PROXY_PORT=8299
AUTH_MODE=saml
SAML_AUTH_PORT=18080
SAML_MODE=portal
SAML_CLIENTOS=Windows
SAML_NO_VERIFY=true
SAML_AUTH_ONLY=true
