# Make a copy of this file for EACH VPN that you want to connect to.
# Each environment should have a unique name for the file.
USERNAME=
PASSWORD=
HOST=
FINGERPRINT=
# Some hosts need 2 fingerprints
#FINGERPRINT_2=
AUTHGROUP=""
# One of the Protocols supported by OPENCONNECT https://www.infradead.org/openconnect/manual.html
PROTOCOL=gp|nc|pulse|f5|fortinet|array
# Recommended 8222, 8223, 8224, 8225, 8226, 8227, 8228, 8229
# Be sure you expose this in your docker CLI or docker-compose.yml
PROXY_PORT=8222
