# Password for Docker Swarm secret
# This file should be used to create the external secret:
# docker secret create vpn-password swarm-secrets.template
# The secret file must ONLY contain the password! Do not include comments or empty lines!

YOUR_VPN_PASSWORD_HERE